<header>
    <div class="container">
        <div class="page-header">
            <h2>Recent 25 commits</h2>
            <div class="button-parent">
                <div class="border-button">
                    <button class="btn btn-lg" ng-click="home.refreshCommits()">
                        <span>&starf;</span><b> REFRESH </b><span>&starf;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="commits-block" ng-repeat="commit in home.commits | orderBy: 'author.login'">
                <div class="inline-block">
                    <img ng-src="{{commit.author.avatar_url}}" width="50" class="img-responsive">
                </div>
                <div class="inline-block commit-text">
                    <p class="commit-text commit-name"><b>{{commit.commit.message}}</b></p>
                    <div class="commit-text-bot">
                        <div class="inline-block">
                            <p><b>{{commit.author.login}}:</b> committed {{commit.commit.committer.date | timeAgo}}</p>
                        </div>
                        <div class="inline-block pull-right">
                            <p>commit: {{commit.sha}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
