/* app css stylesheet */

/*work watelo*/
header {
  background: #3f459b;
}
#imaginary_container{
  margin: 5px 0; /* Don't copy this */
}
#imaginary_container input {
  background: #23286f !important;
  border: none;
}
.stylish-input-group .input-group-addon{
  background: #23286f !important;
  border: none;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
.search-modal-content{
  border-radius: 0;
  margin-top: 20%;
  border: none;
  box-shadow: none;
}
.search-modal-field{
  padding: 10px;
}
.search-modal-field image
{
  width: 40px;
  height: 40px;
}
.search-modal-field input
{
  width: 90%;
  float: right;
  border: none;
  height: 40px;
  outline: none;
  font-size: 2.5em;
  text-transform: uppercase;
}
.line-search-bot{
  border-top: 1px solid #95989A;
  width: 100%;
}
.line-search-bot::before, .line-search-bot::after {
  content: '';
  position: absolute;
  left: 60px;
  top: 40px;
  border: 10px solid transparent;
  border-bottom: 10px solid #95989A;
}
.line-search-bot::after {
  border-bottom: 10px solid white;
  top: 42px;
}
.search-result-content {
  padding: 20px;
}
/*work watelo end*/
